.chart-container-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.chart {
  cursor: pointer;
  width: 800px;
}

.head-chart {
  color: #515455;
  margin: 16px 0 20px 16px;
}

.chart-btn {
  margin-top: 36px;
}
