.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  height: 70px;
  background-color: #92A4D7;
}

.header-container h1 {
  color: #515455;
  font-size: 32px;
  margin-bottom: 0;
}

.header-link {
  font-size: 24px;
  text-decoration: none;
  color: #515455;
}

.header-link-h4 {
  margin-bottom: 0;
  font-size: 24px;
  text-decoration: none;
  color: #515455;
}

@media screen and (max-width: 1024px){
  .header-container {
    padding-left: 24px;
    padding-right: 24px;
    height: 50px;
  }

  .header-container h1 {
    font-size: 24px;
  }

  .header-link {
    font-size: 20px;
  }

  .header-link-h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px){
  .header-container {
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
  }

  .header-container h1 {
    font-size: 20px;
  }

  .header-link {
    font-size: 16px;
  }

  .header-link-h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px){
  .header-container {
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
    background-color: #92A4D7;
  }

  .header-container h1 {
    font-size: 16px;
  }

  .header-link {
    font-size: 14px;
  }

  .header-link-h4 {
    font-size: 12px;
  }
}
