* {
  color: #515455;
}

.authorization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, #92BDDD 0%, #B2B1D2 100%);
}

.authorization-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 7px;
  background-color: #FFFFFF;
  padding: 24px 20px 24px 20px;
}

.authorization-form label {
  font-size: 24px;
}

.authorization-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #515455;
  margin-bottom: 20px;
  font-size: 20px;
}

.authorization-input:focus-visible {
  border-bottom: 2px solid #515455;
  outline: none;
}

.authorization-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100px;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  border: 2px solid #B2B1D2;
  background-color: transparent;
  margin-top: 12%;
  color: #515455;
}

.authorization-btn-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 150px;
  text-decoration: none;
  outline: none;
  border: none;
  background: linear-gradient(0deg, #92BDDD 0%, #B2B1D2 100%);
  border-radius: 5px;
  margin-top: 4%;
  color: #515455;
}

.authorization-btn:hover {
  background-color: #B2B1D2;
}


.authorization-container-sm {
  display: flex;
  flex-direction: column;
}

.button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
