<div class="authorization-container">
  <form [formGroup]="userForm" class="authorization-form" name="form" id="form">
    <div class="authorization-container-sm">
      <label for="login">Логин</label>
      <input formControlName="login" required id="login" name="login" class="authorization-input"
             type="text" placeholder="Введите логин">
      <div *ngIf="userForm.controls['login'].invalid && userForm.controls['login'].touched" class="alert alert-danger">
        Не указан логин
      </div>

    </div>
    <div class="authorization-container-sm">
      <label for="password">Пароль</label>
      <input name="password" formControlName="password" required
           id="password" class="authorization-input"
             type="password" placeholder="Введите пароль">
      <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched"
           class="alert alert-danger">
        Некорректный пароль
      </div>
      <label for="repPassword">Повторите пароль</label>
      <input formControlName="repPassword" name="repPassword" id="repPassword" required
          class="authorization-input"
             type="password" placeholder="Повторите пароль">
    </div>
    <div *ngIf="backendService.keep" class="alert alert-danger">
      Такой логин уже существует. Попробуйте другой
    </div>
        <div *ngIf="invalidPas" class="alert alert-danger">
          Пароли не совпадают
        </div>
    <div class="button-block">
      <button [disabled]="userForm.invalid" (click)="addUser()" type="submit" class="authorization-btn-registration">
        Зарегистрироваться
      </button>
      <button routerLink="/authorization" class="authorization-btn">
        Войти
      </button>
    </div>

  </form>
</div>

