<div class="card">
  <div class="card-description">
    <div class="card-description-sm-container">
      <button (click)="scaleChange(false)" class="card-button">
        <img src="../../assets/minus.svg" alt="Minus"/>
      </button>
      <h2 data-toggle="modal" data-target="#exampleModal" name="fieldName">{{habit.name}}</h2>
      <button (click)="scaleChange(true)" class="card-button">
        <img src="../../assets/plus.svg" alt="Plus"/>
      </button>
    </div>
    <div class="container-btn">
      <button type="button" class="card-btn" (click)="edit.emit()">
        <img class="btn-img" id="edit" src="../../assets/edit2.svg" alt="Edit"/>
      </button>
      <button type="button" class="card-btn" (click)="deleteHabit(this.habit.id)">
        <img class="btn-img" src="../../assets/delete1.svg" alt="Delete"/>
      </button>
    </div>
  </div>
</div>

