<div class="card" [class.div-none]="del>0">
  <div class="card-description">
    <div class="card-description-sm-container">
      <button (click)="plus()" class="card-button">
        <img src="../../assets/plus.svg"/>
      </button>
      <h2 data-toggle="modal" data-target="#exampleModal" [(ngModel)]="habit">{{habit}}</h2>
      <button (click)="minus()" class="card-button">
        <img src="../../assets/minus.svg"/>
      </button>
    </div>

    <div class="scale">
      <div class="scale-filling" *ngIf="count>0"></div>
      <div class="scale-filling" *ngIf="count>1"></div>
      <div class="scale-filling" *ngIf="count>2"></div>
      <div class="scale-filling" *ngIf="count>3"></div>
      <div class="scale-filling" *ngIf="count>4"></div>
      <div class="scale-filling" *ngIf="count>5"></div>
      <div class="scale-filling" *ngIf="count>6"></div>
      <div class="scale-filling" *ngIf="count>7"></div>
    </div>
    <span>{{count}}/8</span>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-back">
      <div class="modal-header justify-content-start align-items-center">
        <h4 class="modal-title" id="exampleModalLabel">Изменить привычку</h4>
        <div class="modal-header-btn">
          <button type="button" class="btn btn-primary mr-2 purple">Сохранить</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
      <div class="modal-body modal-body-custom">
        <h5>Описание:</h5>
        <input type="text" [(ngModel)]="habit" class="form-control input-text-custom mb-3">
        <h6>Тип привычки:</h6>
        <select name="select" class="custom-select mb-3">
          <option value="Полезная" selected>Полезная</option>
          <option value="Вредная">Вредная</option>
        </select>
        <h6>Сложность:</h6>
        <input class="form-control modal-custom-input" type="number" size="3" name="num" min="1" max="5" value="1">
        <button (click)="delCard" class="btn-del">Удалить привычку</button>
      </div>
    </div>
  </div>
</div>
