.card {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 150px;
  background: rgba(148, 164, 193, 0.95);
  color: #FFFFFF;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-description {
  padding: 0 16px 0 16px;
}

.card-description h2 {
  font-size: 24px;
}

.card-description h3 {
  padding-bottom: 8px;
}

.custom-back {
  background-color: #C8D1EB;
}

.modal-header-btn {
  padding-left: 22%;
}

.purple {
  background-color: #9194D6;
  border: none;
}

.purple:not(:disabled):active:focus {
  background-color: #B6E2EB;
  border: none;
}

.purple:focus {
  border: none;
}

.purple:focus {
  box-shadow: none;
  border: none;
}

.modal-body-custom {
  background-color: #F2F4F9;
}

.modal-custom-input {
  display: block;
  width: 12%;
  cursor: pointer;
}

.modal-custom-input:focus {
  border-color: #9194D6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.custom-select {
  width: 30%;
  margin-bottom: 20px;
}

.custom-select:focus {
  border-color: #9194D6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-text-custom {
  width: 70%;
}

.input-text-custom:focus {
  border-color: #9194D6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  outline: none;
  border: 0;
  background: inherit;
  cursor: pointer;
}

.card-button img {
  width: 50px;
  height: 50px;
}

.card-description-sm-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-description-sm-container h2 {
  cursor: pointer;
}

.scale{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 32px;
  border: 2px solid #5065A0;
  border-radius: 2px;
}

.scale-filling {
  background-color: #C8D1EB;
  height: 29px;
  width: 25px;
}

.popup-title {
  color: #454545;
}

.btn-del {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 150px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #454545;
  background: linear-gradient(0deg, #92BDDD 0%, #B2B1D2 100%);
  border-radius: 2px;
  padding: 2px 7px 2px 7px;
  margin-left: 37%;
}
