<app-header></app-header>
<section class="container-card" [ngClass]="{'blur' : modalVisible}">
  <div class="sm-scale">
    <div class="scale-container">
      <div class="scale">
        <div class="scale-filling"></div>
      </div>
      <span>0/8</span>
    </div>
        <button class="container-btn" (click)="openModal()">Добавить привычку</button>
  </div>
  <div class="test">
    <app-card *ngFor="let habit of habits" [habit]="habit" [adding]="true" ></app-card>
  </div>
</section>

<app-modal *ngIf="modalVisible" [adding]="true" (modalClosed)="modalVisible = false"></app-modal>
