.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/background1.png");
  padding-top: 50px;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 200px;
  margin-bottom: 24px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background: linear-gradient(0deg, #92BDDD 0%, #B2B1D2 100%);
}

.sm-scale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
 }

.scale-container {

}

.scale{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 32px;
  border: 2px solid #5065A0;
  border-radius: 2px;
}

.scale-filling {
  background-color: #C8D1EB;
  height: 29px;
  width: 25px;
}

.card-block {
  display: grid;
  grid-template: '. .';
  column-gap: 100px;
  row-gap: normal;
}

.form-add {
  height: 200px;
  width: 800px;
  background-color: #7F8FBB;
}

.blur {
  filter: blur(3px);
}
