* {
  color: #515455;
}

.container-card {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  align-items: center;
  background-image: url("../../assets/background1.png");
  padding-top: 50px;
  background-attachment: fixed;
}

.sm-scale {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 20px;
}

.scale-container {
  display: flex;
  flex-direction: column;
}

.scale {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 32px;
  border: 2px solid #5065A0;
  border-radius: 2px;
}

.scale-filling {
  background-color: #C8D1EB;
  height: 29px;
  width: 25px;
}

.card-block {
  display: grid;
  grid-template: '. .';
  column-gap: 100px;
  row-gap: normal;
}

.form-add {
  height: 200px;
  width: 800px;
  background-color: #7F8FBB;
}

.blur {
  filter: blur(3px);
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress {
  width: 200px;
  height: 24px;
  margin-right: 10px;
}

progress::-webkit-progress-value {
  /*background: #7F8FBB;*/
  /*background: rgba(148, 164, 193, 0.95);*/
  background-color: #B2B1D2;
}

progress[value]::-webkit-progress-bar {
  border: 1px solid #5065A0;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[role]::-webkit-progress-value {
  background-color: #92BDDD;
}

.scale-des {
  display: flex;
  flex-direction: column;
}

.scale-block {
  display: flex;
  flex-direction: row;
}

.span-des {
  color: #515455;
  font-size: 18px;
  margin-bottom: 16px;
}

.span-count {
  color: #515455;
}

.level-block {
  display: flex;
  flex-direction: row;
}
