<app-header></app-header>
<section class="container-card" [ngClass]="{'blur' : modalVisible}">
  <div class="sm-scale">
    <div class="scale-container">
      <div class="scale">
        <div class="scale-filling"></div>
      </div>
      <span>0/8 здоровье</span>
    </div>
    <span>{{healthCount}}</span>
    <div class="scale-container">
      <div class="scale">
        <div class="scale-filling"></div>
      </div>
      <span>0/8 опыт</span>
    </div>
    <span>1</span>
        <button class="container-btn" (click)="addHabit()">Добавить привычку</button>
  </div>
  <div class="card-block">
    <app-card *ngFor="let habit of habits" [habit]="habit" (edit)="update(habit)" (health)="healthCounter($event, this.habit.difficulty)"></app-card>
  </div>
</section>

<app-modal *ngIf="modalVisible" [adding]="modalAdding" [habit]="habitToUpdate" (modalClosed)="modalVisible = false"></app-modal>
