.authorization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, #92BDDD 0%, #B2B1D2 100%);
  /*background: linear-gradient(180deg, #B3B4D4 0%, #B5BED4 13.02%, #B9CDD4 42.97%, #BBDEE5 100%);*/
  /*background-image: url("../../assets/aut-7.png");*/
}

.authorization-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 7px;
  background-color: #FFFFFF;
  padding: 24px 20px 24px 20px;
}

.authorization-form label {
  font-size: 20px;
  color: #454545;
}

.authorization-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #454545;
  margin-bottom: 20px;
  color: #454545;
}

.authorization-input::placeholder {
  color: #454545;
}

.authorization-input:focus-visible {
  border-bottom: 2px solid #454545;
  outline: none;
}

.authorization-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(0deg, #92BDDD 0%, #B2B1D2 100%);
  margin-top: 25%;
  color: #000000;
}
