<div class="modal-center">
  <div class="modal-header purple">
    <h4 class="modal-title" id="modal-basic-title">Привычка</h4>
    <button type="button" class="btn-close modal-cls" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body modal-container">
    <form [formGroup]="habitForm" id="add" class="form-add">
      <h5>Описание</h5>
      <input type="text" formControlName="name">
      <h6>Тип привычки:</h6>
      <select name="select" class="custom-select mb-3" formControlName="type">
        <option value="0" selected>Полезная</option>
        <option value="1">Вредная</option>
      </select>

      <h6 class="popup-title">Сложность:</h6>
      <input class="form-control modal-custom-input" type="number" size="3" name="num" min="1" max="5" value="1">
    </form>
  </div>
  <div class="modal-footer modal-container">
    <button type="button" class="btn btn-outline-dark">Удалить привычку</button>
    <button type="button" class="btn btn-outline-dark modal-save" (click)="addHabit()">Сохранить</button>
  </div>
</div>
